# Spaceship Titanic

In [13]:
import pandas as pd

# 업로드한 파일 이름을 정확히 입력합니다.
# 만약 파일명이 'train (1).csv' 등으로 바뀌었다면 그에 맞게 수정해야 합니다.
train = pd.read_csv('train.csv')

# 데이터 정보 확인
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [14]:
# 각 컬럼별 결측치 개수 확인
print(train.isnull().sum())

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [15]:
# HomePlanet 컬럼의 값별 개수 확인
print(train['HomePlanet'].value_counts())

HomePlanet
Earth     4602
Europa    2131
Mars      1759
Name: count, dtype: int64

In [17]:
# HomePlanet의 결측치를 'Earth'로 채우기
train['HomePlanet'] = train['HomePlanet'].fillna('Earth')

print("남은 결측치 개수:", train['HomePlanet'].isnull().sum())

남은 결측치 개수: 0

In [18]:
# CryoSleep의 값별 개수 확인
print(train['CryoSleep'].value_counts())

CryoSleep
False    5439
True     3037
Name: count, dtype: int64

In [1]:
# CryoSleep의 결측치를 가장 많은 값인 False로 채웁니다.
train['CryoSleep'] = train['CryoSleep'].fillna(False)

print("CryoSleep 결측치 개수:", train['CryoSleep'].isnull().sum())

NameError: name 'train' is not defined

In [3]:
import pandas as pd
train = pd.read_csv('train.csv')
print

In [4]:
train['CryoSleep'].fillna(False)

/tmp/ipykernel_123/1554961125.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train['CryoSleep'].fillna(False)

0       False
1       False
2       False
3       False
4       False
        ...
8688    False
8689     True
8690    False
8691    False
8692    False
Name: CryoSleep, Length: 8693, dtype: bool

In [9]:
# 1. 값을 실제로 저장합니다.
train['CryoSleep'] = train['CryoSleep'].fillna(False)

print(train['CryoSleep'].isnull().sum())

0

In [6]:
# Age 컬럼의 평균값을 구합니다.
average_age = train['Age'].mean()

print("승객 평균 나이:", average_age)

승객 평균 나이: 28.82793046746535

In [8]:
# Age의 결측치를 위에서 구한 평균값(average_age)으로 채웁니다.
train['Age'] = train['Age'].fillna(average_age)

print("Age 결측치 개수:", train['Age'].isnull().sum())

Age 결측치 개수: 0

In [10]:
# RoomService의 결측치를 0으로 채웁니다.
train['RoomService'] = train['RoomService'].fillna(0)

print("RoomService 결측치 개수:", train['RoomService'].isnull().sum())

RoomService 결측치 개수: 0

In [11]:
# FoodCourt의 결측치를 0으로 채웁니다.
train['FoodCourt'] = train['FoodCourt'].fillna(0)

print("FoodCourt 결측치 개수:", train['FoodCourt'].isnull().sum())

FoodCourt 결측치 개수: 0

In [12]:
# ShoppingMall의 결측치를 0으로 채웁니다.
train['ShoppingMall'] = train['ShoppingMall'].fillna(0)

print("ShoppingMall 결측치 개수:", train['ShoppingMall'].isnull().sum())

ShoppingMall 결측치 개수: 0

In [13]:
# Spa의 결측치를 0으로 채웁니다.
train['Spa'] = train['Spa'].fillna(0)

print("Spa 결측치 개수:", train['Spa'].isnull().sum())

Spa 결측치 개수: 0

In [14]:
# Cabin과 Name 컬럼의 실제 데이터 형태 확인
print(train[['Cabin', 'Name']].head())

   Cabin               Name
0  B/0/P    Maham Ofracculy
1  F/0/S       Juanna Vines
2  A/0/S      Altark Susent
3  A/0/S       Solam Susent
4  F/1/S  Willy Santantines

In [15]:
# Cabin 데이터를 '/' 기준으로 나누고, 그 중 첫 번째(0번) 값인 데크만 가져옵니다.
# 결측치(NaN)가 있으면 에러가 날 수 있으므로, str을 이용해 안전하게 처리합니다.
train['Deck'] = train['Cabin'].str.split('/').str[0]

print(train[['Cabin', 'Deck']].head())

   Cabin Deck
0  B/0/P    B
1  F/0/S    F
2  A/0/S    A
3  A/0/S    A
4  F/1/S    F

In [23]:
train['Side'] = train['Cabin'].str.split('/').str[2] 
print(train[['Cabin', 'Deck', 'Side']].head())

   Cabin Deck Side
0  B/0/P    B    P
1  F/0/S    F    S
2  A/0/S    A    S
3  A/0/S    A    S
4  F/1/S    F    S

- 글자로 된 카테고리를 숫자로 변환하기 # 컴퓨터가 쉽게 읽을 수 있게

In [24]:
# HomePlanet 컬럼을 0과 1의 숫자로 변환합니다.
train = pd.get_dummies(train, columns=['HomePlanet'])

print(train.columns)

Index(['PassengerId', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name',
       'Transported', 'Deck', 'Side', 'HomePlanet_Earth', 'HomePlanet_Europa',
       'HomePlanet_Mars'],
      dtype='object')

In [27]:
# Side 컬럼을 원-핫 인코딩으로 변환하기
train = pd.get_dummies(train, columns=['Side'])

print(train.columns)

Index(['PassengerId', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name',
       'Transported', 'Deck', 'HomePlanet_Earth', 'HomePlanet_Europa',
       'HomePlanet_Mars', 'Side_P', 'Side_S'],
      dtype='object')

In [28]:
# VIP 컬럼의 값별 개수 확인
print(train['VIP'].value_counts())

VIP
False    8291
True      199
Name: count, dtype: int64